custom/Person.s*
custom/Household.s*
custom/Person_ISOTable.sql
generated/Person.s*
generated/Household.s*
setup/*.sql
setup/installed_site.txt
site/House*.srm
site/Person*.srm
site/common.srm
site/default.xsl
site/includes
